[submodule "Documentation"]
	path = Documentation
	url = https://github.com/a1ien/nuttx_doc.git
[submodule "configs"]
	path = configs
	url = https://github.com/a1ien/nuttx_boards.git
[submodule "arch"]
	path = arch
	url = https://github.com/a1ien/nuttx_arch.git
